SPARK_MASTER_URL=local[*]
COUCHBASE_CONNECTION_STRING=couchbase://localhost
COUCHBASE_USERNAME=Administrator
COUCHBASE_PASSWORD=password
COUCHBASE_SPARK_JAR=/path/to/spark-connector-assembly-<version>.jar
COUCHBASE_TLS_INSECURE=false
